# Dependencies
**/node_modules/

# Environment files
**/.env
**/.env.local
**/.env.production

# Uploads
backend/uploads/

# Build folders
frontend/dist/
frontend/build/

# Logs
*.log
logs/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Cache
.cache/
.vite/